 # HOMEWORK_0319

In [127]:
x = input('請輸入數字：')

請輸入數字：2333

In [128]:
len(list(x))!=len(set(x))

True

In [9]:
while True:
    a = input('猜猜我是誰【按q退出】')
    if a =="8":
        print("恭喜你 答對了!")
        break;
    elif a =="q":
        break;
    else:
        print("請再試一次")

猜猜我是誰【按q退出】8
恭喜你 答對了!

In [33]:
#9x9
for c in range(1,10):
    for d in range(1,10):
        print(c,"*",d,'=',c*d)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [17]:
odd_list=[]
for x in range(1,7):
    if x%2==1:
        odd_list.append(x)
print(odd_list)

[1, 3, 5]

In [31]:
cells = [(a,'*',b,'=',a*b) for a in range(1,10)for b in range(1,10)]
for cell in cells:
    print(cell)

(1, '*', 1, '=', 1)
(1, '*', 2, '=', 2)
(1, '*', 3, '=', 3)
(1, '*', 4, '=', 4)
(1, '*', 5, '=', 5)
(1, '*', 6, '=', 6)
(1, '*', 7, '=', 7)
(1, '*', 8, '=', 8)
(1, '*', 9, '=', 9)
(2, '*', 1, '=', 2)
(2, '*', 2, '=', 4)
(2, '*', 3, '=', 6)
(2, '*', 4, '=', 8)
(2, '*', 5, '=', 10)
(2, '*', 6, '=', 12)
(2, '*', 7, '=', 14)
(2, '*', 8, '=', 16)
(2, '*', 9, '=', 18)
(3, '*', 1, '=', 3)
(3, '*', 2, '=', 6)
(3, '*', 3, '=', 9)
(3, '*', 4, '=', 12)
(3, '*', 5, '=', 15)
(3, '*', 6, '=', 18)
(3, '*', 7, '=', 21)
(3, '*', 8, '=', 24)
(3, '*', 9, '=', 27)
(4, '*', 1, '=', 4)
(4, '*', 2, '=', 8)
(4, '*', 3, '=', 12)
(4, '*', 4, '=', 16)
(4, '*', 5, '=', 20)
(4, '*', 6, '=', 24)
(4, '*', 7, '=', 28)
(4, '*', 8, '=', 32)
(4, '*', 9, '=', 36)
(5, '*', 1, '=', 5)
(5, '*', 2, '=', 10)
(5, '*', 3, '=', 15)
(5, '*', 4, '=', 20)
(5, '*', 5, '=', 25)
(5, '*', 6, '=', 30)
(5, '*', 7, '=', 35)
(5, '*', 8, '=', 40)
(5, '*', 9, '=', 45)
(6, '*', 1, '=', 6)
(6, '*', 2, '=', 12)
(6, '*', 3, '=', 18)
(6, '*', 4, '=', 24)
(6, '*', 5, '=', 30)
(6, '*', 6, '=', 36)
(6, '*', 7, '=', 42)
(6, '*', 8, '=', 48)
(6, '*', 9, '=', 54)
(7, '*', 1, '=', 7)
(7, '*', 2, '=', 14)
(7, '*', 3, '=', 21)
(7, '*', 4, '=', 28)
(7, '*', 5, '=', 35)
(7, '*', 6, '=', 42)
(7, '*', 7, '=', 49)
(7, '*', 8, '=', 56)
(7, '*', 9, '=', 63)
(8, '*', 1, '=', 8)
(8, '*', 2, '=', 16)
(8, '*', 3, '=', 24)
(8, '*', 4, '=', 32)
(8, '*', 5, '=', 40)
(8, '*', 6, '=', 48)
(8, '*', 7, '=', 56)
(8, '*', 8, '=', 64)
(8, '*', 9, '=', 72)
(9, '*', 1, '=', 9)
(9, '*', 2, '=', 18)
(9, '*', 3, '=', 27)
(9, '*', 4, '=', 36)
(9, '*', 5, '=', 45)
(9, '*', 6, '=', 54)
(9, '*', 7, '=', 63)
(9, '*', 8, '=', 72)
(9, '*', 9, '=', 81)

In [36]:
def iron_man_def(iron_man_color):
    if iron_man_color =="紅色":
        return("鋼鐵人盔甲是紅色的")
    elif iron_man_color =="綠色":
        return("鋼鐵人其實也可以參考浩克的顏色 ")
    elif iron_man_color =="藍色":
        return("鋼鐵人變成藍色小精靈也不錯")
    else:
        return("好像沒這種顏色",iron_man_color)

In [37]:
iron_man_def("藍色")

'鋼鐵人變成藍色小精靈也不錯'

In [117]:
def calculater(func,*args):
    return func(*args)
def sum_args(*args):
    return sum(args)
def sub_args(x,*args):
    return(x-sum(args))
def multi(*args):
    total =1
    for n in args:
        total = total*n
    return(total)
def dev(x,*args):
    total=1
    for n in args:
        total = total*n
    return(x*1/total)

In [124]:
calculater(dev,5,5,5,5)

0.04

# 課堂練習

class_ntust = {
    'member1':'alex',
    'member2':'jeffery',
    'member3':'jacky'
    }

In [5]:
class_ntust2 = {
    'member4':'jobs',
    'member5':'michael'
}

In [6]:
class_ntust.update(class_ntust2)

In [7]:
class_ntust

{'member1': 'alex',
 'member2': 'jeffery',
 'member3': 'jacky',
 'member4': 'jobs',
 'member5': 'michael'}

In [8]:
drinks = {'item1':{"珍珠奶茶",'去冰','半糖'},
          'item2':{'紅茶','無糖','少冰'},
          'item3':{'甘蔗青','無糖','微冰'}}

In [9]:
type(drinks)

dict

In [12]:
type({"珍珠奶茶",'去冰','半糖'})

set

In [17]:
for name, contents in drinks.items():
    if"紅茶"in contents:print(name)

item2

In [107]:
def run_with_args(func,*args):
    return func(*args)
def sum_args(*args):
    return sum(args)
run_with_args(sum_args,1,2,3,4,5,6)

21